<!DOCTYPE html>
<html>
<head>
    <title>Lista de usuarios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body class="body">
    <ul> 
        <h1>{{ siteName}}</h1>
        <h1>POSTS:</h1>

        <div class="">wdwwwdwwd</div>
    
        {% for post in posts %}
        <div class="card m-3">
            <p>Autor: {{ post.author }}</p>
            <p>Contador de entradas: {{ author.entry_count }}</p>
            <div class="card-body">
              <div class="d-flex align-items-center">
                {% comment %} <img src="ruta-de-la-imagen-del-autor.jpg" class="rounded-circle me-3" alt="Imagen del autor" style="width: 50px;"> {% endcomment %}
              <h5 class="card-title">{{ post.author }}</h5>
              </div>
              <h6 class="card-subtitle text-muted">{{ post.creation_date }}</h6>
              <h4 class="card-title">{{ post.title }}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{ post.category }}</h6>
              <p class="card-text">{{ post.content }}</p>

              {% if post.author.username == username %}
                  <form action="{% url 'delete_post' post.id username%}" method="POST">
                    {% csrf_token %}
                    <button class = "btn btn-danger m-3"type="submit">Eliminar</button>
                  </form>
              {% endif %}

              <button type="button" class="btn btn-primary m-3" data-toggle="collapse" data-target="#commentForm{{ post.id }}">
                Escribir comentario
              </button>
              
              <div id="commentForm{{ post.id }}" class="collapse">
                <form method="POST" action="{% url 'make_comment' post.id username %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="comment{{ post.id }}">Comentario:</label>
                    <textarea class="form-control" id="comment{{ post.id }}" name="comment" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary m-3">Enviar comentario</button>
                </form>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Comentarios</h5>
                  <ul class="list-unstyled">
                    {% for comment in comments %}
                      {% if post.id == comment.post.id %}
                        <div class="card bg-primary text-left m-3" style="backcolor" >
                          <img class="card-img-top" src="holder.js/100px180/" alt="">
                          <div class="card-body"> 
                            <h3>{{ comment.author }}</h3>
                            <p>{{ comment.text }}</p>
                            <label>{{ comment.creation_date }}</label>
                          </div>
                          {% if comment.author.username == username %}
                              <form action="{% url 'delete_comment' comment.id username%}" method="POST">
                                <div class="container">
                                  <button id="delete_comment" type="submit" name="delete_comment" class="btn btn-danger m-2">Borrar Comentario</button>
                                </div>
                              </from>
                          {% endif %}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        
    </ul>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Crear un Post
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Crear Publicación</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form  method="post" action="{% url 'home' usernameLogin=username %}">
                {% csrf_token %}
                <div class="form-group">
                  <label for="title">Título</label>
                  <input type="text" class="form-control" id="title" name="title" placeholder="Ingrese el título">
                </div>
                <div class="form-group">
                  <label for="content">Contenido</label>
                  <textarea class="form-control" id="content" name="content" rows="4" placeholder="Ingrese el contenido"></textarea>
                </div>
                <div class="form-group">
                  <label for="categories">Categoría</label>
                  <select class="form-control" id="category" name="category">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
              </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>







